@media only screen and (min-width: 960px)  { 

/*------------------------------------------Header-----------------------------------------*/
    .headerimage {
        padding: 25px;
    }

    .motto {
        font-size: 23px;
    }

    header h1 {
        font-size: 50px;
        margin: 15px;
    }

    /*-------------------------------------- Navigation Menu ----------------------------------*/
    .menu li:first-child {
        display: none;
    }

    .menu li {
        display: block;
        flex: 1 1 auto;
    }

    .menu li a {
        font-size: 20px;
    }

    .menu {
        flex-direction: row;
    }

/*--------------------------------------Main-------------------------------------------*/
    main {
        width: 962.5px;
        margin: 0 auto;
        padding-right: 4px;
    }

    main h2{
        font-size: 30px;
    }

    .mainsection {
        padding: 5px;
        margin: 5px;
    }

    /*-----------------Article Section-----------------------*/
    .newsarticle {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .sodaarticle {
        margin-bottom: 10px;
    }

    .sodaarticle h3 {
        font-size: 30px;
        text-align: center;
        margin-top: 25px;
    }

    .sodaarticle h5 {
        text-align: center;
        margin-top: 8px;
    }

    .sodaarticle p {
        text-align: center;
        padding-right: 0;
    }

    .bball {
        color: rgba(255, 0, 0, 0.808);
    }

    .newsarticle figcaption {
        display: none;
    }

    .newsarticle h2 {
        text-align: left;
        padding-left: 0;
    }

    .newsarticle h3 {
        font-size: 20px;
        margin-right: 25px;
        text-align: left;
    }

    .newsarticle h5 {
        margin-right: 25px;
        text-align: left;
    }

    .article {
        padding: 15px;
        padding-left: 0;
    }
    /*------------------------------Current Event-------------------------------*/
    .currentevents {
        margin: 0;
        margin-bottom: 10px;
    }

    /*--------------------------Weather Report-------------------------------*/
    .weatherreport h3 {
        font-size: 25px;
        border-bottom: none;
        margin: 0 auto;
        padding: 15px;
    }

    .weatherreport {
        position: absolute;
        left: 60px;
        bottom: 150px;
    }

    .tempdetails {
        padding: 15px;
        font-size: 16px;
    }

    /*----------------------------Images---------------------------------------*/
    .newsphoto {
        float: right;
        margin: 10px;
    }

    .sodaphoto {
        padding: 10px;
        position: relative;
        left: 150px;
    }

    /*-------------------------------Contact Info------------------------*/
    .contactinfo {
        display: flex;
        align-content: space-around;
        width: 934px;
    }

    .contactinfo p {
        padding: 5px;
        display: flex;
    }

    .contactinfo h4 {
        padding: 5px;
        display: flex;
        text-align: center;
    }

    .map {
        width: 300px;
        height: auto;
        padding: 10px;
    }

    /*-----------------------------------Footer------------------------------------*/
    footer{
        width: 950px;
        display: block;
        clear: right;
        padding-bottom: 8px;
    }

    footer p {
        font-size: 16px;
    }

    footer div {
        font-size: 16px;
        margin-top: 5px;
    }

    /*----------------------------------Weather Forecast Table-------------------*/
    .weatherforecast h3 {
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 30px;
    }

    .weatherforecast {
        display: block;
        margin-bottom: 35px;
    }

    .weathertable {
        border-collapse: collapse;
        margin: 0 auto;
    }

    table, th, td {
        border-style: ridge;
        border-color: black;
        border-width: 3px;
        padding: 5px;
    }

    .weekday {
        text-align: center;
        vertical-align: middle;
        background-color: #fff037;
    }

    .temp {
        text-align: center;
        padding: 10px;
    }

    /*---------------------------------Weather Gallery--------------------------------*/
    .galleryh2 {
        font-size: 40px;
        padding: 20px;
    }

    .weathergrid {
        margin: 0 auto;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
        margin: 0 auto;
    }

    .individual:hover {
        box-shadow: 0 0 50px #333;
    }

    .flexchild {
        width: 90%;
    }

    .weathergrid {
        margin-bottom: 35px;
    }

    .individual {
        width: 90%;
        font-size: 13px;
        display: block;
        margin: 0 auto;
    }

    /*--------------------------------Thank You HTML-----------------------------------*/
    .title {
        font-size: 40px;
        margin: 169px;
    }

    /*------------------------------Storm Form Page----------------------------------*/
    form {
        display: grid;
    }

    textarea {
        height: 160px;
        width: 100%;
    }

    .personal {
        width: 60%;
    }

    .storminfo {
        width: 60%;
    }

    .right {
        width: 80%;
    }

    .info {
        display: grid;
        grid-template-columns: 400px;
        margin: 0 auto;
        width: 100%;
    }

    legend {
        font-size: 20px;
    }

    .button {
        width: 30%;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    /*---------------------------------Home Page---------------------------*/
    .homepage {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .hero img {
        width: 70%;
    }

    .homepage p {
        height: 424px;
    }

    .jsonmotto {
        font-style: italic;
    }

    .homepage p img {
        width: 220px;
    }

    .notes1{
        margin-bottom: 10px;
    }

    .notes {
        margin-bottom: 4px;
    }
  }