header img, .headings{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

header{
   margin: 10px;
    background-color: #006666;
    border: 1px solid #bbb;
    box-shadow: 0 0 30px #777;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

header div{
    color:white;
}

header h1{
    color: white;
    font-size: 35px;
}

nav{
    background-color: #ffb366;
    width: 850px;
}

nav ul li{
    display: inline-block;
    padding: 20px
}