main {
    font-family: Ubuntu, sans-serif;
}

table {
    border: .5px solid lightgrey;
    box-shadow: 7px 7px 18px #628ca6;
}

td {
    font-size: 14px;
    border: 1px solid lightgrey;
    padding: 5px;
    text-align: center;
}

tr {
    font-size: 20px;
}

th {
    text-align: center;
    border: 1px solid lightgrey;
    background-color: #7fb9c2;
    padding: 7px;
    font-size: 23px;
}

.specific {
    background-color: #628ca6;
    color: white;
    font-size: 14px;
}

tfoot tr td {
    background-color: #7fb9c2;
    font-size: 11px;
    text-align: center;
    padding: 7px;
}

tr:nth-child(even) {
    background:#e7ffed;
}

tr:nth-child(odd) {
    background: #e7f0ed;
}