@media only screen and (min-width: 460px){
/*-----------------------------Gallery Page--------------------------------*/
    .container {
        grid-template-columns: 1fr 1fr;
    }
/*------------------------Navigation Menu----------------------------*/    
    nav {
        max-width: 100%; 
    }

    .menu {
        flex-direction: row;
        justify-content: center; 
    }

    nav li {
        padding: 0;
        position: relative;
        align-content: center; 
        display: inline-block; 
    }

    nav .dropdown{
        display: inline-block;
    }

    nav li:first-child {
        display: none;
    }

    .dropbtn {
        visibility: hidden;
    }
}
/*-------------------Header Section--------------------*/
/*-------------------------Weather forecast table------------------*/
/* .weatherforecast h3 {
    text-align: center;
}

.weatherforecast {
    display: block;
    margin-bottom: 35px;
}

.weathertable {
     border-collapse: collapse;
     margin: 0 auto;
 }

 table, th, td {
     border-style: ridge;
     border-color: black;
     border-width: 3px;
     padding: 5px;
 }

.weekday {
    text-align: center;
    vertical-align: middle;
    background-color: #fff037;
}

.temp {
    text-align: center;
} */
